
@font-face {
  font-family: 'zatsu';
  src: url('../fonts/851tegaki_zatsu_normal_0883.ttf') format('truetype');
}
@font-face {
  font-family: 'uchiyama';
  src: url('../fonts/uchiyama.ttf') format('truetype');
}
@font-face {
  font-family: 'shunnka';
  src: url('../fonts/春夏秋冬㈼.ttf') format('truetype');
}
